{{>header}}
	<div id="editor-controls">
		<a href="/{{ params.collection }}" id="editor-back">Back to {{ params.collection }}</a>
		{{#if params._id}}
		<div id="document-delete" data-url="/{{ params.collection }}/delete/{{ params._id }}">
			Delete document
		</div>
		{{/if}}
	</div>
	<div id="middle">
		<div id="editor">
		</div>
	</div>
	<div id="editor-value">{{ initialValue }}</div>
{{>footer}}