{{>header}}
	<div class="cf">
		<form id="search" method="get" action="/{{params.collection}}">
			<input type="text" name="sq" id="search-input" placeholder="Search by title..." />
		</form>
		<a id="document-add" href="/{{params.collection}}/add">
			Add Document
		</a>
	</div>
	<div id="middle">
		{{#each results}}
			<a class="list-result" href="/{{ ../params.collection }}/edit/{{ this._id }}">
				<div class="list-result-col">
					<div class="list-result-hd" title="{{this.series_title_english}}">{{this.series_title_english}}</div>
				</div>
				<div class="list-result-col">
					<div class="list-result-hd" title="{{this.series_title_romanji}}">{{this.series_title_romanji}}</div>
				</div>
				<div class="list-result-col">
					<div class="list-result-hd">{{this.series_episodes_total}} Episodes</div>
				</div>
				<div class="list-result-col">
					<div class="list-result-hd">{{uppercase this.series_type}}</div>
				</div>
			</a>
		{{/each}}
	</div>
{{>footer}}