{{>header}}
<div id="middle">
	<div id="list-wrap">
		<div id="list-left"
			data-username="{{profile.username}}"
			data-editable="{{listEditable}}"
			data-list-type="{{listType}}"
		>
		<!-- Mount stuff here -->
		</div>
		<div id="list-right">
			<div id="list-profile">
				<div id="list-profile-background">
				</div>
				<div id="list-profile-avatar">
				</div>
				<div id="list-profile-name">
					{{profile.display_name}}
				</div>
				<div id="list-profile-bio">
					<p>
						{{profile.biography}}
					</p>
				</div>
			</div>
			<div class="list-nav">
				<div class="list-nav-sep">
				</div>
				<a class="list-nav-item current">
					<span class="list-nav-text">
						Anime List
					</span>
				</a>
				<a class="list-nav-item">
					<span class="list-nav-text">
						Manga List
					</span>
				</a>
				<a class="list-nav-item">
					<span class="list-nav-text">
						Collections
					</span>
				</a>
				<div class="list-nav-sep">
				</div>
				<a class="list-nav-item">
					<span class="list-nav-text">
						Stats
					</span>
					<span class="list-nav-private">
						<span class="icon-lock-line list-nav-icon"></span>
						Private
					</span>
				</a>
				<a class="list-nav-item">
					<span class="list-nav-text">
						Settings
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
{{>footer}}