{{>header}}
	<div id="middle">
		<div id="series-ncov-wrap">
			<div id="series-ncov-content">
				<div id="series-ncov-hd">
					<div id="series-ncov-meta">
						{{series.series_type}}
						{{#if series.series_episodes_total}}
						with {{series.series_episodes_total}} episode(s)
						{{/if}}
					</div>
					<div id="series-ncov-title">
						{{series.series_title_main}}
					</div>
					<div id="series-ncov-alt-titles">
						{{#if series.series_title_english}}
							Lit. {{capitalizeFirst series.series_title_english}}
						{{/if}}
						{{#if series.series_title_japanese}}
							({{series.series_title_japanese}})
						{{/if}}
					</div>
				</div>
				<div id="series-ncov-info-wrap">
					{{>series_info}}
				</div>
			</div>
		</div>
	</div>
{{>footer}}