{{>header}}
	<div id="middle">
		<div id="series-cover-content-wrap">
			<div id="series-cover-hd-wrap">
				<div id="series-cover-hd" class="center-vert">
					<div id="series-cover-meta">
						{{series.series_type}}
						{{#if series.series_episodes_total}}
							with {{series.series_episodes_total}} {{inflect series.series_episodes_total "episode" "episodes"}}
						{{/if}}
						{{#if series.series_episodes_duration}}
							&times; {{series.series_episodes_duration}} min.
						{{/if}}
					</div>
					<div id="series-cover-title">
						{{series.series_title_main}}
					</div>
					<div id="series-cover-alt-titles">
						{{#if series.series_title_english}}
							Lit. <i>{{capitalizeFirst series.series_title_english}}</i>
						{{/if}}
						{{#if series.series_title_japanese}}
							{{#if series.series_title_english}}
								|
							{{/if}}
							<i>{{series.series_title_japanese}}</i>
						{{/if}}
					</div>
				</div>
				<div id="series-cover-bg-wrap">
					<div id="series-cover-bg" data-bg="{{series.series_image_cover}}">
						<div id="series-cover-bg-ovl">
						</div>
					</div>
				</div>
			</div>
			<div id="series-cover-content">
				<div id="series-cover-info-wrap">
					{{>series_info}}
				</div>
			</div>
		</div>
	</div>
{{>footer}}