{{>header}}
<div id="middle">
	<div id="series-ncov-wrap">
		<div id="series-ncov-hd">
			<div id="series-ncov-meta">
				{{uppercase series.series_type}} with {{default series.series_episodes_total '—'}}{{#is collection 'anime'}} Episode(s){{else}} Chapter(s){{/is}}
			</div>
			<div id="series-ncov-title">
				{{series.series_title_main}}
			</div>
			<div id="series-ncov-alt-titles">
				{{#if series.series_title_english}}
				<span id="series-ncov-literal">
					Lit. {{capitalizeFirst series.series_title_english}}
				</span>
				{{/if}}
				{{#if series.series_title_japanese}}
				<span id="series-ncov-japanese">
					({{series.series_title_japanese}})
				</span>
				{{/if}}
			</div>
		</div>
		<div id="series-ncov">
			<div id="series-ncov-left">
			<!--
				<div id="series-ncov-image" style="background-image: url({{series.series_image_reference}})">
				</div> -->
				<div id="series-ncov-desc">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
			<div id="series-ncov-right">
				{{#if series.series_title_synonyms}}
				<div class="series-ncov-info-section">
					<div class="series-ncov-info-title">
						Alternative titles
					</div>
					<div class="series-ncov-info-value">
						{{#each series.series_title_synonyms}}
							{{this}}<br />
						{{/each}}
					</div>
				</div>
				{{/if}}
				<div class="series-ncov-info-section">
					<div class="series-ncov-info-title">
						Genres
					</div>
					<div class="series-ncov-info-value">
					{{join series.series_genres ', '}}
					</div>
				</div>
				<div class="series-ncov-info-section">
					<div class="series-ncov-info-title">
						Aired {{#if series.series_date_end}} (from - to) {{/if}}
					</div>
					<div class="series-ncov-info-value">
						<span title="{{timeago series.series_date_start date}}">{{formatDate series.series_date_start '%e %B, %Y'}}</span>
						{{#if series.series_date_end}}
							&mdash; <span title="{{timeago series.series_date_end date}}">{{formatDate series.series_date_end '%e %B, %Y'}}</span>
						{{/if}}
					</div>
				</div>
				<div class="series-ncov-info-section">
					<div class="series-ncov-info-title">
						Score distribution
					</div>
					<div class="series-ncov-info-value">
						<div id="series-rating-graph-wrap" data-id="{{series._id}}" data-collection="{{collection}}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{>footer}}
